@font-face {
  font-family: "Bebas Neue Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Bebas Neue Regular"), url("./BebasNeue-Regular.otf") format("otf");
}

@font-face {
  font-family: "Open Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans Regular"), url("./OpenSans-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Sumac Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Sumac Regular"), url("./Sumac-Regular.otf") format("otf");
}
