@font-face {
  font-family: "Bebas Neue Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./BebasNeue-Regular.otf");
}

@font-face {
  font-family: "Open Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Sumac Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./Sumac-Regular.otf");
}
