* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  font-family: "Open Sans Regular";
  background: $blackDoc;
  color: $white;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  margin-bottom: 0;
}
